body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  justify-content: center;
}

.uploadForm {
  text-align: center;
}

.uploadForm input {
  max-width: 200px;
  margin: 0 auto;
}

.formWrap {
  list-style: none;
  padding: 0;
  background: #fff;
  padding: 1.875rem;
  min-width: 18.75rem;
}

.formWrap input {
  min-width: 10rem;
  min-height: 1.375rem;
}

.formWrap select {
  min-width: 10.625rem;
  min-height: 1.875rem;
  border: 1px solid #c0c0c0;
}

.formWrap li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  align-items: center;
}

.formWrap li:last-child{
    margin-bottom: 0;
}

.formWrap li input {
  border: 1px solid #c0c0c0;
  padding: 4px;
}

.formWrap li input:focus-visible {
  outline: none;
}

.col1 {
  margin-right: 0.938rem;
  font-weight: 600;
  min-width: calc(50% - 0.938rem);
  text-align: right;
}

.btn {
  background-color: blueviolet;
  color: #fff;
  padding: 4px;
  border: 1px solid blueviolet;
}
